.main {
				width: 1300px;
				text-align: center;
				font:  0.6em arial,sans-serif;
				margin: 0px auto;
				border : solid 1px #000000;
				-moz-border-radius: 2em;
				border-radius: 2em;
				padding-top: 20px;
				padding-bottom: 20px;
}

.calendar-table {
				border: 1px  black;
				background-color: #3385E4;
				color: white;

}


.calendar-day {
				background-color: #3385E4;
				color: white;
				font:  0.6em arial,sans-serif;
}

.calendar-weekend {
				background-color: #FF6633 ;
				color: white;
				font: 0.6em arial,sans-serif;
}

.calendar-time {
				background-color: white;
}

.input {
	font: 0.6em arial,sans-serif;
}

table.sample {
	border-width: 0px;
	border-spacing: 0px;
	border-style: solid;
	border-color: gray;
	border-collapse: collapse;
	background-color: white;
}
table.sample th {
	border-width: thin;
	padding: 0px;
	border-style: solid;
	border-color: gray;
	background-color: white;
	-moz-border-radius: ;
}
table.sample td {
	border-width: 0px;
	padding: 0px;
	border-style: solid;
	border-color: gray;
	background-color: white;
	-moz-border-radius: ;
	font: 0.8em arial,sans-serif;
}

table.sample2 {
	border-width: 0px;
	border-spacing: 0px;
	border-style: solid;
	border-color: gray;
	border-collapse: collapse;
	background-color: white;
}

table.sample2 td {
	border-width: thin;
	padding: 5px;
	border-style: solid;
	border-color: gray;
	background-color: white;
	-moz-border-radius: ;
	font: 0.7em arial,sans-serif;
	text-align: center;
	
}

#myDiv {
	width: 95%;
	margin: 0px auto;
	}

#otherDiv {
	padding-top: 50px;
	width: 95%;
	margin: 0px auto;
}
